/**
 * mixin for body text
 * @type string   $scale    [small, medium, large]
 */
/**
 * mixin for heading text
 * @type string   $scale    [h1, h2, h3, h4, h5, h6]
 */
/**
 * mixin for button
 * @type string   $style      [flat, outline]
 * @type string   $shadow     shadow css
 * @type string   $color      text color
 * @type string   $bg         background color
 * @type string   $bg-hover   background hover color
 * @type string   $bg-active  background active color
 * @type integer  $font-size  font size
 * @type integer  $padding-v  vertical padding
 * @type integer  $padding-h  horizontal padding
 */
/**
 * mixin for container
 */
/**
 * mixin for text input
 * @type string   $size   [xsmall, small, medium, large]
 */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-background-clip: padding-box;
}

button {
  outline: none;
  border: none;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  list-style: none;
}

a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
  text-align: left;
}

strong {
  font-weight: bold;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
html {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.55556em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, .h1 {
  font-size: 5.2rem;
  line-height: 1.8em;
}

h2, .h2 {
  font-size: 3.8rem;
  line-height: 1.8em;
}

h3, .h3 {
  font-size: 2.8rem;
  line-height: 1.8em;
}

h4, .h4 {
  font-size: 2.4rem;
  line-height: 1.8em;
}

h5, .h5 {
  font-size: 2rem;
  line-height: 1.6em;
}

h6, .h6 {
  font-size: 1.8rem;
  line-height: 1.55556em;
}

p {
  margin-bottom: 1.4em;
}

a.link {
  color: #008cfd;
  cursor: pointer;
}

a.link:hover {
  text-decoration: none;
  border-bottom: 1px solid #008cfd;
}

/*
Button

HTML Markup:
<a class="button">Primary Button</a>

Styleguide button
 */
.button {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  font-weight: 500;
  line-height: 1em;
  cursor: pointer;
  padding: 0.83333em 1.66667em;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #008cfd;
  border-color: transparent;
}

.button:hover {
  transform: scale(1.03);
  text-decoration: none;
}

.button:active, .button.active {
  transform: none;
}

.button:active:hover, .button:active:focus, .button:active.focus, .button.active:hover, .button.active:focus, .button.active.focus {
  transform: none;
}

.button:focus, .button.focus {
  color: #ffffff;
  border-color: transparent;
}

.button:hover {
  color: #ffffff;
  background-color: #1996fd;
  border-color: transparent;
}

.button:active, .button.active {
  background-color: #1076cd;
  border-color: transparent;
}

.button:active:hover, .button:active:focus, .button:active.focus, .button.active:hover, .button.active:focus, .button.active.focus {
  background-color: #1076cd;
}

.button.disabled, .button[disabled] {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.15);
  border-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
}

.button.disabled:hover, .button.disabled:focus, .button.disabled.focus, .button.disabled:active, .button.disabled.active, .button[disabled]:hover, .button[disabled]:focus, .button[disabled].focus, .button[disabled]:active, .button[disabled].active {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.15);
  border-color: transparent;
  box-shadow: none;
  transform: none;
}

/*
Text Input

HTML Markup:
<input type="text" className="input" placeholder="Joh" />

Styleguide input
 */
.input {
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.8rem;
  line-height: 1.38889em;
  padding: 0.77778em 0.83333em;
}

.input:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.input:focus {
  border-color: #008cfd;
  box-shadow: 0 0 0 1px #008cfd;
}

.input.disabled, .input[disabled] {
  background: #e6e6e6 !important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}

.input.disabled:hover, .input.disabled:focus, .input.disabled.focus, .input.disabled:active, .input.disabled.active, .input[disabled]:hover, .input[disabled]:focus, .input[disabled].focus, .input[disabled]:active, .input[disabled].active {
  background: #e6e6e6 !important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: oblique;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: oblique;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: oblique;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: oblique;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Avenir W01", sans-serif;
  font-weight: 300;
  font-style: oblique;
}

/*
Container

HTML Markup:
<div class="container" />

Styleguide container
 */
.container {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 3rem;
}

.tabs .nav {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: -1.6rem;
}

.tabs .nav .button {
  margin-left: 6rem;
  margin-right: 6rem;
}

.tabs .nav .button:last-child {
  margin-right: 0;
}

.tabs .nav .button:first-child {
  margin-left: 0;
}

.tabs .nav > * {
  margin-top: 1.6rem;
}

.tabs .tab {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  max-width: 100%;
  vertical-align: top;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.tabs .tab:not(:last-child) {
  padding-right: 4.2rem;
}

.tabs a.tab-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding-bottom: 1.2rem;
  padding-right: 0.8rem;
  margin-bottom: -0.2rem;
  position: relative;
  cursor: pointer;
}

.tabs a.tab-link:hover {
  color: #000000;
  text-decoration: none;
}

.tabs a.tab-link:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px;
}

.tabs a.tab-link.active {
  position: relative;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 800;
}

.tabs a.tab-link.active:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #008cfd;
}

.tabs .expander {
  flex: 1 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.tabs .content {
  margin-top: 3rem;
}

html {
  font-size: 10px;
  background: #f7faf8;
}

body {
  width: 76rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 10rem 0;
}

.input {
  margin-bottom: 1.5rem;
}

.container {
  padding: 5rem;
}

.contact-item {
  position: relative;
}

.contact-item .delete {
  position: absolute;
  right: 0;
  top: 0;
}
